{% extends 'layout.html' %}

{% block content %}
    <p> Останнім часом багато людей гине від хронічних хвороб, зростає смертність та ускладнення від інфекційних. <b>Мета проекту - допомогти розвинути дихальну систему.</b> Загортований організм зможе легше перенести хвороби, тож <b>будьмо здорові!</b>
        
    
    <h5 style="margin-top: 2em;">Що таке дихальна гімнастика?</h5>
    <p>Дихальна гімнастика - це простий набір вправ, метою яких є розвиток органів дихання, подолання стресу. Важливо починати з простих вправ та поступово збільшувати навантаження. Після поетапного твердого освоєння дихальні вправи можна включати у комплекси ранкової гімнастики, в інші самостійні заняття фізичною культурою, їх можна виконувати під час прогулянок і, звичайно, в робочих перервах.</p>        

    <h5>Навіщо виконувати дихальну гімнастику?</h5>
    <p>Дихальна гімнастика має чимало переваг. Серед основних:
        <ul>
            <li>Допомагає знизити рівень стресу, рівень втоми.</li>
            <li>Допомагає нормалізувати <a src="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5575449/">серцевий ритм</a>.</li>
            <li>Допомагає нормалізувати <a src="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5575449/">тиск</a>.</li>
            <li>Покращує здатність організму переносити інтенсивні фізичні вправи.</li>
        </ul>
    </p>        

    <h5>Як відбувається процес дихання?</h5>
    <p>Легені не мають власних м'язів і тому не можуть активно скорочуватися чи розтягуватися. Свій об'єм вони змінюють пасивно, слідом за змінами об'єму грудної порожнини. Дихальні рухи — вдих і видих відбуваються внаслідок ритмічного скорочення та розслаблення дихальних м'язів — міжреберних, діафрагми і м'язів передньої черевної стінки. <a href="https://uk.wikipedia.org/wiki/%D0%94%D0%B8%D1%85%D0%B0%D0%BD%D0%BD%D1%8F#%D0%9F%D1%80%D0%BE%D1%86%D0%B5%D1%81%D0%B8_%D0%B4%D0%B8%D1%85%D0%B0%D0%BD%D0%BD%D1%8F_%D1%82%D0%B0_%D1%97%D1%85_%D1%80%D0%B5%D0%B3%D1%83%D0%BB%D1%8F%D1%86%D1%96%D1%8F">Більш детальна інформація</a>.</p>
    
    <img src="/static/lungs1.gif" class="img-responsive column col-6 col-mx-auto" alt="Схема дихання людини" style="margin-bottom: 1em;">


    <h4>Методи оцінки стану здоров'я</h4>
    <h5>Що таке SF-36?</h5>
    <p><a src="https://www.rand.org/health-care/surveys_tools/mos/36-item-short-form.html">SF-36</a> (з англ. The Short Form (36) Health Survey) - це опитувальник для оцінки стану здоров'я людини, що широко використовується при проведенні досліджень.<br>
    SF-36 був результатом медичних досліджень, які проводила корпорація RAND.<br>
    Складається з 36 питань, згрупованих у вісім шкал. <br>
    Складений так, що найкращий стан здоров'я приймають за 100, найгірший за 0. З 8 шкал формують два параметри: психологічний і фізичний компоненти здоров'я.<br>
    У цьому проекті застосовуються наступні три шкали.
    <ul>
        <li>Шкала емоційної оцінки</li>
        <li>Оцінка рівню болю</li>
        <li>Оцінка фізичного стану здоров'я</li>
    </ul>
    </p>

    <h5>Що таке BMI?</h5>
    <p><a src="https://uk.wikipedia.org/wiki/%D0%86%D0%BD%D0%B4%D0%B5%D0%BA%D1%81_%D0%BC%D0%B0%D1%81%D0%B8_%D1%82%D1%96%D0%BB%D0%B0">Індекс маси тіла</a> (ІМТ, англ. BMI, body mass index) — величина, що оцінює ступінь відповідності маси людини та її зросту, тим самим, непрямо оцінює, чи є маса недостатньою, нормальною чи надмірною (ожирінням). Така оцінка може допомогти визначити ризик виникнення хронічних захворювань, пов'язаних з надмірною вагою.</p>    
    <img src="/static/bmi.jpg" class="img-responsive column col-6 col-mx-auto" alt="Схема дихання людини" style="margin-bottom: 1em;"> 

    <h5>Що таке експертна система?</h5>
    <p><a src="https://uk.wikipedia.org/wiki/%D0%95%D0%BA%D1%81%D0%BF%D0%B5%D1%80%D1%82%D0%BD%D1%96_%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B8">Експертна система</a> (ЕС, англ. Expert system) - комп'ютерна система, здатна частково замінити фахівця-експерта у вирішенні проблемної ситуації. Найважливішою частиною експертної системи є бази знань як моделі поведінки експертів у певній галузі знань з використанням процедур логічного висновку і прийняття рішень, іншими словами, бази знань - сукупність фактів і правил логічного висновку в обраній предметній області діяльності. Експертні системи часто застосовуть для надання рекомендацій.</p>

    
{% endblock %}